 <div th:replace="~{fragments/menu :: menuPrincipal}"></div>
 <link rel="stylesheet" th:href="@{/css/menu.css}">
 <link rel="stylesheet" th:href="@{/css/acceuil.css}">
<h1>Bienvenue sur PayYouPayMe</h1>
<p>Sur ce site vous pourrez transférer votre argent facilement et simplement. Pour cela il suffit de vous inscrire,
 c'est entièrement gratuit. Une fois inscrit, il vous suffit d'aller dans l'onglet "transaction",
 si vous voulez faire une transaction, <br/>
 dans l'onglet "transfert", si vous voulez faire des transferts vers l'exterieur du site.
Dans l'onglet "profil", vous pourrez gérer votre compte. C'est a dire modifier vos informations, 
ou éventuellement le suspendre si vous voulez. Puis, dans l'onglet "Envoie de messages" vous pourrez contacter 
un membre du support si vous avez besoin d'aide ou si vous avez des questions. 
Enfin, dans l'onglet contact vous pourrez ajouter des contact de personne deja inscrite sur le site, pour pouvoir
leur envouyer de l'argent.
</p>