<div th:replace="~{fragments/menu :: menuPrincipal}"></div>

<h1>ALL DATAS</h1>


<h2>MESSAGES</h2>
<table>
	<tr>
		<th>Id</th>
		<th>Content</th>
		<th>Date</th>
		<th>Utilisateur name</th>
		<th>Reponse</th>
	</tr>
	<tr th:each="message : ${messages}">
		<td th:text="${message.id}" />
		<td th:text="${message.contenu}" />
		<td th:text="${message.date}" />
		<td th:text="${message.utilisateur.pseudo}" />
		<td><span th:if="${ message.reponse == null }">
				<form th:action="@{'/admin/reponse?id=' + ${message.id}}" method="POST">
					<input type="text" name="contenu"> <input type="submit"
						value="Repondre au message">
				</form>
		</span> <span th:unless="${ message.reponse == null }"> <span
				th:text="${message.reponse}"></span>
		</span></td>
	</tr>
</table>


<h2>TRANSACTIONS</h2>
<table>
	<tr>
		<th>Id</th>
		<th>MessageContent</th>
		<th>Date</th>
		<th>Amount</th>
		<th>actif</th>

	</tr>
	<tr th:each="transaction : ${transactions}">
		<td th:text="${transaction.id}" />
		<td th:text="${transaction.contenuMessage}" />
		<td th:text="${transaction.date}" />
		<td th:text="${transaction.envoyeurTransaction}" />
		<td th:text="${transaction.receveurTransaction}" />

	</tr>
</table>





<h2>Utilisateur</h2>
<table>
	<tr>
		<th>Id</th>
		<th>Username</th>
		<th>balance</th>
		<th>actif</th>
		<th>desactiver</th>

	</tr>
	<tr th:each="user : ${utilisateurs}">
		<td th:text="${user.id}" />
		<td th:text="${user.pseudo}" />
		<td th:text="${user.sommeCompteDepart}" />
		<td th:text="${user.actif}" />
		<td><span th:if="${user.actif}">
				<form th:action="@{'/admin/desactiveruser?id=' + ${user.id}}" method="POST">
					<input type="submit" value="desactiver">
				</form>
			</span> 
		</td>
	</tr>
</table>