<div th:replace="~{fragments/menu :: menuPrincipal}"></div>

<h3>Liste Contact</h3>

<form th:action="@{/contact/addcontact}" method="POST">
	<input type="text" name="pseudotoadd">
	<input type="submit" value="Ajouter contact">
</form>




<table>
	<tr>
		<th>ID</th>
		<th>Nom</th>
		<th>Prenom</th>
		<th>email</th>
		<!-- ajout argent recu en envoyé  -->
	</tr>
	<tr th:each="utilisateur : ${contacts}">
		<td th:text="${utilisateur.id}"></td>
		<td th:text="${utilisateur.nom}"></td>
		<td th:text="${utilisateur.prenom}"></td>
		<td th:text="${utilisateur.email}"></td>
		<td>
		<form th:action="@{'/contact/deletecontact?id='+${utilisateur.id}}"  method="POST">
			<input type="submit" value="delete">
		</form>
	</tr>
	
	
	
</table>