<div th:replace="~{fragments/menu :: menuPrincipal}"></div>
<h2>Transferts</h2>



<div th:text="'balance : ' + ${utilisateur.sommeCompteDepart}"></div>
 
<form th:action="@{/transfert/createTransfert}" method="POST">
	<input type="text" name="messageTransfert" value = "messageTransfert"> 
	<input type="number" name="sommeTransfert" value = "0">
	
	<input type="submit" value="Creation tranfert">
</form> 
 


<h2>Liste transferts effectués</h2>
<table>
	<tr>
		<th>ID</th>
		<th>sommeTransfert</th>
		<th>messageTransfert</th>
		<th>date</th>
	</tr>
	
	<tr th:each="transfert : ${utilisateur.transferts}">
		<td th:text="${transfert.id}"></td>
		<td th:text="${transfert.sommeTransfert}"></td>
		<td th:text="${transfert.messageTransfert}"></td>
		<td th:text="${transfert.date}"></td>
	</tr>
</table>